/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300); */

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.header {
	background-color: #413e67;
	background-image: url(../img/hero_image.png);	
	background-size: cover;
}
.navbar {
	border-bottom: 1px solid rgba(255,255,255,0.4);
	border-radius: 0;
}

#navbar {
	float: right;
}

#navbar ul {
	margin: 0 0 -1px 0;
	overflow: hidden;
}

#navbar li {
	float: left;
	padding: 0;
	list-style-type: none;
}

#navbar a {
	display: inline-block;
	padding: 25px 0 22px 0;
	margin: 0 0 0 45px;
	color: #fff;
	border-bottom: 3px solid transparent;
}

#navbar a:hover {
	text-decoration: none;
	border-bottom: 3px solid #fff;
}

#navbar .profile a {
	padding: 12px 0 10px 0;
}

#navbar .profile a:hover {
	border-color: transparent;
}

.navbar-brand {
	padding-left: 0;
	padding-top: 22px;
}

.navbar-brand img {
	width: 100px;
}

.tagline {
	text-align: center;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 200px;
}

.tagline h1,
.tagline h2 {
	font-weight: 300;
}

.tagline h2{
	font-size: 20px;
}

.tagline header {
	padding-top: 20px;
	padding-bottom: 50px;
}

.tagline form{
	overflow: hidden;
	width: 630px;
	margin: 0 auto;
	border-radius: 3px;
	background-color: rgba(255,255,255,0.2);
	padding: 15px;
}

.tagline input {
	float: left;
}

#location {
	width: 225px;
}

#start-date,
#end-date,
.tagline .button {
	width: 125px;
}

.tagline .input-text,
.tagline .button {
	border: 0;
	border-right: 1px solid #ccc;
	padding: 10px;
	font-size: 18px;
}

.tagline .button {
	background-color: #ff6f28;
	border-color: #ff6f28;
}

.trips {
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	margin-top: 20px;
}

.trips img {
	width: 100%;
	margin-bottom: 20px;
}

.content-wrapper header {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
}

.content-wrapper h1,
.content-wrapper p {
	font-weight: 300;
}

.content-wrapper h1 {
	color: #2b3a42;
	font-size: 30px;
}

.content-wrapper p {
	color: #a9b8c1;
}

footer {
	background-color: #4d4f53;
	padding-bottom: 50px;
}

footer .container {
	max-width: 900px;
	padding-top: 30px;
}

footer .logo {
	text-align: center;
}

footer .logo img {
	width: 100px;
}

.social-media {
	float: left;
	padding-right: 100px;
}

.social-media img {
	width: 28px;
	margin-right: 5px;
}

.payment {
	float: right;
}

.payment img {
	margin-left: 10px;
}

footer p {
	color: #70787b;
	font-size: 12px;
	text-align: center;
}

footer hr {
	border: 0;
	border-top: 1px solid #575c60;
}

footer .paypal{
	padding-top: 10px;
}

footer .visa{
	padding-top: 5px;
}